footer{
  position: relative;
  width: 100%;
  background: #1c366d;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

footer .social-icon,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li{
  list-style: none;
}

footer .social-icon li a{
  font-size: 2em;
  color: #fbfbfa;
  margin: 0 10px;
  display: inline-block;
  transition: .5s;
}

footer .social-icon li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 1.2em;
  color: #fbfbfa;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: .75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer p{
  color: #fbfbfa;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../image/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: animationWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 9;
  opacity: .5;
  bottom: 10px;
  animation: animationWave_2 4s linear infinite;
}

footer .wave#wave3{
  z-index: 10;
  opacity: .2;
  bottom: 15px;
  animation: animationWave_2 3s linear infinite;
}

footer .wave#wave4{
  z-index: 10;
  opacity: .7;
  bottom: 20px;
  animation: animationWave_2 3s linear infinite;
}

@keyframes animationWave{
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
}

@keyframes animationWave_2{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}

@media (max-width: 768px){
  footer .social-icon li a{
    font-size: 30px;
  }
  
  footer .menu li a{
    font-size: 15px;
  }
  
  footer p{
    font-size: 9px;
  }
}
