/* home */
#home{
  background-image: linear-gradient(rgba(9,5,54,.3),rgba(5,4,46,.7)), url("../image/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#home h2 a{
  color: #fbfbfa;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

#home h3{
  width: 50%;
  color: #fbfbfa;
  font-size: 1.2rem;
  line-height: 25px;
  position: relative;
}

#home h3:before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
  background-color: #fbfbfa;
}


/* pengertian */
#pengertian{
  padding: 5vw 8vw 0 8vw;
  text-align: start;
}

#pengertian .penjelasan p{
  font-size: 1rem;
  color: #221811;
  margin-top: 10px;
}


/* materi */
#materi{
  padding: 5vw 8vw 0 8vw;
  text-align: start;
}

#materi .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

#materi .row .card{
  width: 24rem;
  background: #fbfbfa;
  border: 1px solid #1c366d;
  margin-bottom: 50px;
  transition: .3s;
}

#materi .row .card .cardHeader{
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to bottom, #1c366d, #567fd6);
  color: #fbfbfa;
}

#materi .row .card .cardBody{
  padding: 30px 20px;
  font-size: 18px;
}

.cardBody .btn{
  color: #fbfbfa;
  text-align: center;
  background: #1c366d;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
}

.cardBody .btn:hover{
  background: linear-gradient(to top, #567fd6, #1c366d);
  color: #fbfbfa;
  transition: .7s ease-in; 
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .25);
}


/* popup modal */
#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, .25);
  z-index: 1;
  display: none;
  backdrop-filter: blur(2px);
}

#modal.open{
  opacity: 1;
  display: block;
}

.modalContent{
  position: relative;
  background-color: #fbfbfa;
  margin: 100px auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 700px;
  max-width: 85%;
  animation: open .5s ease-in-out;
}

@keyframes open{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.modalHeader{
  padding: 2px 16px;
  background-color: #1c366d;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

.modalHeader h2{
  font-size: 25px;
  margin: 20px 0;
  color: #fbfbfa;
}

.closeBtn{
  position: relative;
  color: #dc1617;
  font-size: 40px;
  font-weight: bold;
  margin-top: 12px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dc1617;
  cursor: pointer;
  text-align: center;
}

.modalBody{
  padding: 2px 16px;
}

.modalBody p{
  font-size: 25px;
  margin: 4% auto;
}

.modalFooter{
  padding: 6px 16px;
  background: #1c366d;
  color: #fbfbfa;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modalFooter h3{
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 768px){
  #home{
    height: 250px;
  }
  
  #home h2 a{
    font-size: 17px;
  }
  
  #home h3{
    font-size: 14px;
    width: 70%;
  }
  
  #home h3:before{
    height: 2px;
  }
  
  #pengertian{
    padding: 15px 20px;
  }
  
  #pengertian .penjelasan p{
    font-size: 14px;
  }
  
  #materi{
    padding: 15px 20px;
  }
  
  #materi .row .card .cardHeader{
    font-size: 15px;
  }
  
  #materi .row .card .cardBody{
    font-size: 14px;
  }
  
  .card{
    width: 100%;
  }
  
  .modalHeader h2{
    font-size: 18px;
  }
  
  .closeBtn{
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  
  .modalBody p{
    font-size: 14px;
  }
  
  .modalFooter h3{
    font-size: 15px;
  }
}
