.container{
  max-width: 1170px;
  margin: auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header a{
  text-decoration: none;
}

.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-main{
  position: fixed;
  background-color: #fbfbfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  width: 100%;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}

.header .logo a{
  font-size: 30px;
  color: #1c366d;
  font-weight: 700;
  pointer-events: none;
}

.header .logo a span{
  color: #dc1617;
}

.header .logo a .kuning{
  color: #fbc504;
}

.header .nav-menu{
  padding: 0 15px;
}

.header .menu > .menu-item{
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

.header .menu > .menu-item > a{
  display: block;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  color: #1c366d;
  transition: all .3s ease;
}

.header .menu > .menu-item > a .plus{
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}

.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #1c366d;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
  background-color: #fbc504;
}

.header .menu > .menu-item > a .plus:after{
  transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
  color: #fbc504;
}

.header .menu > .menu-item > .sub-menu{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fbfbfa;
  padding: 10px 0;
  border-top: 3px solid #1c366d;
  transform: translateY(10px);
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
}

.header .menu > .menu-item-has-children:hover > .sub-menu{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.header .menu > .menu-item-has-children:hover > a .plus:after{
  transform: translate(-50%, -50%) rotate(0deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item{
  display: block;
}

.header .menu > .menu-item > .sub-menu > .menu-item > a{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #1c366d;
  transition: all .3s ease;
}

.header .open-nav-menu{
  height: 34px;
  width: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.header .open-nav-menu span{
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  background-color: #1c366d;
}

.header .open-nav-menu .bar2{
  background-color: #dc1617;
}

.header .open-nav-menu .bar3{
  background-color: #fbc504;
}

@media (max-width: 768px){
  .header .logo a{
    font-size: 20px;
  }
  
  .header .nav-menu{
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0;
    top: 70px;
    flex-direction: column;
    z-index: 100;
    bottom: 100%;
    justify-content: start;
    transition: bottom .5s ease-in-out;
    overflow: hidden;
  }
  
  .header .nav-menu.open{
    bottom: 0;
  }
  
  .header .open-nav-menu{
    display: block;
  }
  
  .header .menu > .menu-item{
    display: block;
    margin: 0;
    width: 100%;
  }
  
  .header .menu > .menu-item-has-children > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .menu > .menu-item > a{
    padding: 12px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    background-color: #fbfbfa;
  }
  
  .header .menu > .menu-item:first-child > a{
    border-top: 1px solid #1c366d;
  }
  
  .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  
  .header .menu > .menu-item-has-children.active > a .plus:after{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  
  .open-nav-menu.active .bar2:nth-child(2){
    opacity: 0;
  }
  
  .open-nav-menu.active .bar1:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  .open-nav-menu.active .bar3:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .header .menu > .menu-item > .sub-menu{
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    transform: translateY(0px);
    padding: 0;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
  }
  
  .header .menu > .menu-item > .sub-menu > .menu-item > a{
    padding: 12px 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}
