.tableSection{
  margin-top: 90px;
  padding: 5vw 2.5vw 0 2.5vw;
}

table{
  width: 95%;
  border-collapse: collapse;
  margin: 40px auto;
}

tr:nth-of-type(odd) { 
	background: #eee; 
}

th{
  background: #1c366d;
  color: #fbfbfa;
  font-weight: bold;
}

td, th{
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  
	table { 
	  	width: 95%; 
	}
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr{
	  border: 1px solid #ccc;
	  margin-bottom: 10px;
	}
	
	td{
	  border: none;
	  border-bottom: 1px solid #ccc;
	  position: relative;
	  padding-left: 50%;
	}
	
	td:before { 
  	position: absolute;
	  top: 6px;
	  left: 6px;
  	width: 45%; 
  	padding-right: 10px; 
  	display: inline-block;
  	white-space: nowrap;
  	content: attr(data-column);
  	color: #221811;
	  font-weight: bold;
	}
}
